#imgDiv{
    width: 250px;
    position: relative;
    left: 40%;
    margin-top: 20px;
}
#btn{
    background: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.btnn{
    background-color: #595c9c;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
}